/* Theme Layout CSS*/

/************************
     NAVIGATION MENU
*************************/
nav.navigation-menu a {
  display: block;
  text-decoration: none;
}

.navigation-menu hr {
  display: none;
}

.mainContent {
  position: relative;
  min-height: 75vh;
}

header.pageHeader {
  position: relative;
}

header.pageHeader h1.post-title {
  width: 100%;
}
header.pageHeader .vline {
  position: absolute;
  height: 290px;
  top: 3px;
  bottom: -1px;
  left: -25px;
  border-left: 1px solid;
}

header.pageHeader .hline {
  max-width: 100%;
}

nav.navigation-menu {
  position: absolute;
  width: 180px;
  left: -180px;
  top: 0;
  padding: 10px;
}
nav.navigation-menu a {
  text-transform: uppercase;
  display: block;
  text-decoration: none;
}

@media only screen and (max-width: 1200px) {
  nav.navigation-menu {
    position: relative;
    width: 100%;
    left: inherit;
    top: inherit;
    padding: 30px 0 0;
  }

  nav.navigation-menu a {
    display: inline-block;
    text-decoration: none;
    margin-right: 20px;
  }
  .navigation-menu hr {
    display: block;
  }

  header.pageHeader .vline {
    display: none;
  }

  a.logo {
    width: 50px;
    line-height: 0.5em;
  }

  a.logo::after {
    font-size: 28px;
  }
}

.bottomContainer {
  display: flex;
  display: -webkit-flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.postTags a {
  color: #fff;
  padding: 5px 10px;
  margin: 0 6px 0 0;
  text-transform: uppercase;
  font-size: 15px;
  border-radius: 5px;
  background: #999999;
  font-family: "Roboto Condensed", serif;
  -webkit-transition: background 120ms;
  transition: background 120ms;
}

.postShare-wrap {
  margin-bottom: 15px;
}

/****************************************
 Special side floating things
*****************************************/

.authorContainer {
  margin-top: 0.5em;
  width: 100%;
}
.authorContainer img {
  height: 70px;
  margin-bottom: 0.6em;
  display: none;
  position: relative;
  left: auto;
  right: 0;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  width: auto;
  border-radius: 100%;
}

.authorContainer .nameContainer {
  display: inline-block;
  font-style: italic;
  font-size: 0.8em;
}
.authorContainer .nameContainer .name {
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
}

.authorContainer .time {
  display: inline-block;
  text-align: right;
  font-size: 18px;
}

.authorContainer hr {
  margin: 0.5em 0;
}

@media screen and (min-width: 1200px) {
  .authorContainer {
    margin-bottom: 1em;
    position: absolute;
    width: 220px;
    left: -220px;
    padding-right: 70px;
    box-sizing: border-box;
    text-align: right;
    text-align: -webkit-right;
  }

  .authorContainer img {
    display: block;
  }

  .authorContainer .nameContainer {
    display: block;
    text-align: right;
    line-height: 0.6;
  }

  .authorContainer .time {
    display: block;
    text-align: right;
    font-size: 18px;
  }

  .authorContainer .vline {
    position: absolute;
    top: 0;
    right: 40px;
    bottom: 0;
    border-left: 1px solid;
    border-left-color: #fff;
  }

  .authorContainer hr {
    display: none;
  }
}

/***********************
    Post Content Stuff
************************/

.post-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 920px;
}

.footnotes,
.post-full-comments,
.post-content blockquote,
.post-content dl,
.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6,
.post-content ol,
.post-content p,
.post-content pre,
.post-content ul {
  min-width: 100%;
}

.post-content blockquote {
  left: 1em;
  padding-left: 1.5em;
  padding-right: 1em;
  width: calc(100% - 2.5em);
}

.post-content .kg-image {
  max-width: 100%;
}

/* Preventing full-width image overlap with post image.  */
.post-full-image + .post-content .kg-content *:first-child .kg-image {
  width: 100%;
}

.post-content .kg-width-wide .kg-image {
  max-width: 1040px;
}

.post-content .kg-width-full .kg-image {
  max-width: 100vw;
}

.post-content figure {
  margin: 1.5em 0 1.5em;
}

.post-content figure img {
  margin: 0;
}

.post-content figcaption {
  margin: 1em 0 0;
  font-size: 80%;
  line-height: 1.6em;
  text-align: center;
}

.kg-width-full figcaption {
  padding: 0 1.5em;
}

.kg-embed-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
}

.kg-embed-card .fluid-width-video-wrapper {
  margin: 0;
}

@media (max-width: 1040px) {
  .post-content .kg-width-full .kg-image {
    width: 100vw;
  }
}

.kg-gallery-container {
  display: flex;
  flex-direction: column;
  max-width: 1040px;
  width: 100vw;
}

.kg-gallery-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.kg-gallery-image img {
  display: block;
  margin: 0;
  width: 100%;
  height: 100%;
}

.kg-gallery-row:not(:first-of-type) {
  margin: 0.75em 0 0 0;
}

.kg-gallery-image:not(:first-of-type) {
  margin: 0 0 0 0.75em;
}

.kg-gallery-card + .kg-image-card.kg-width-wide,
.kg-gallery-card + .kg-gallery-card,
.kg-image-card.kg-width-wide + .kg-gallery-card,
.kg-image-card.kg-width-wide + .kg-image-card.kg-width-wide {
  margin: -2.25em 0 3em;
}
