/* ==========================================================================
   CSS specific to the design of the Design version of the site.
   ========================================================================== */

/*
/****************************************
 Post header
****************************************/
body {
  font-family: 'Ideal Sans';
  font-weight: 300;
}

.post-tags a {
  font-family: 'Ideal Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
  padding-top: 6px;
}
.post-tags a:hover {

}

*::selection {
}
*::-moz-selection {
}

.site-wrapper {
}


header.post-header h1.post-title {
  font-family: 'Feijoa Display';
  font-size: 72px;
  font-weight: normal;
  margin: 11px 0 11px 0;
}

header.post-header .vline {
}

nav.header-nav {
  font-family: 'Ideal Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
}
.post-date {
  font-family: 'Ideal Sans', sans-serif;
  font-weight: 300;
  font-size: 20px;
  font-variant: small-caps;
  text-transform: lowercase;
}

.post-tags a {
  background: #363636;
}

.post-tags a:hover {
  background: #777;
}

.post h1, .post h2, .post h3, .post h4  {
  font-family: 'Feijoa Display';
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 20px;
}
.post h1 em, .post h2 em, .post h3 em, .post h4 em  {
  font-family: 'Feijoa Medium';
  font-weight: 500;
  font-style: italic;
}
.post h1 {
  font-size: 50px;
}
.post h2 {
  font-size: 40px;
}
.post h3 {
  font-size: 30px;
}
.post p {
  font-family: 'Ideal Sans', sans-serif;
  font-weight: 300;
  font-size: 23px;
  line-height: 1.5em;
  color: black;
}

.post ol ol, .post ul ul, .post ul ol, .post ol ul {
  color: black;
}

.end-of-transmission {
  margin-left: 10px;
}


@media screen and (max-width: 500px) {
  .post-date {
    font-size: 14px;
  }
  header.post-header h1.post-title {
    font-size: 40px;
  }
  .post-tags a {
    font-size: 10px;
    margin: 0 0 0 0;
  }
  .post h1 {
    font-size: 30px;
  }
  .post h2 {
    font-size: 26px;
  }
  .post h3 {
    font-size: 22px;
  }
  .post p {
    font-size: 17px;
  }
}


/****************************************
 Special side floating things
*****************************************/

figcaption {
  font-family: 'Feijoa Medium';
  font-weight: 500;
  font-style: italic;
  line-height: 1.3em;
  font-size: 0.7em;
  color: #777;
}

@media screen and (min-width: 1300px) {
  span.overflow.right-caption figcaption {
    width: 192px;
    right: -232px;
    padding-top: 52px;
  }
  span.overflow.left-caption figcaption {
    width: 192px;
    left: -232px;
    padding-top: 52px;
  }
}


.author-container {
  font-size: 14px;
}
.author-container img {
  right: -14px;
}

.author-container .vline {
}

.author-container .name-container {
  font-family: 'Ideal Sans';
  font-style: italic;
  font-weight: 200;
  font-size: 20px;
}

.author-container .name-container .name {
  font-style: normal;
  font-weight: bold;
  text-transform: lowercase;;
  font-size: 0.95em;
  font-variant: small-caps;
}

.author-container .time {
  font-family: 'Ideal Sans';
  font-weight: 200;
  font-style: italic;
  line-height: 0.7em;
  font-size: 20px;

}
