/* General Theme */

body, .blogWrapper, .progressbarWrapper, .topbar {
  background: #333333;
}

/* Basic colouring */
body, p, .postExcerpt p, a, a.readMore {
  font-family: 'Roboto Slab', serif;
  color: #e0e0e0;
}

.post-content blockquote {
  color: #AAA;
}

.post-content blockquote:before {
  width: 4px;
  background: #AAA;
}

.post-content h1 {
  font-size: 50px;
}
.post-content h2 {
  font-size: 40px;
}
.post-content h3 {
  font-size: 30px;
}
body, .postExcerpt p, .post-content p, .post-content li {
  font-family: 'Roboto Slab', serif;
  font-size: 22px;
  line-height: 1.5em;
}

a {
  color: #e0e0e0;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

a:hover {
  color: #558b2f;
}

h1, h2, h3, h4, h5, h6,
.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 {
  font-family: 'Roboto Condensed', serif;
  color: #fff;
  margin-bottom: 20px;
}

*::selection {
  background: #DCEDC8; /* WebKit/Blink Browsers */
}
*::-moz-selection {
  background: #DCEDC8; /* Gecko Browsers */
}

.heading, .homeNav, .topbar {
    border-bottom: 1px solid #888;
}

.progressbar {
    width: 0;
    height: 4px;
    background: #558b2f;
    max-width: 1440px
}


@media screen and (max-width: 600px) {
  .post-content h1 {
    font-size: 28px;
  }
  .post-content h2 {
    font-size: 24px;
  }
  .post-content h3 {
    font-size: 20px;
  }
  body .postExcerpt p, .post-content p, .post-content li, .post-content pre {
    font-size: 16px;
    line-height: 1.4em;
  }
}

/* Homepage Navbar Overrides */

.navLinks-wrap .navLink a {
    border-bottom: 0 solid #558b2f;
    font-size: 22px;
    margin-right: 20px;
}

.navLinks-wrap .navLink a:hover {
    border-bottom: 5px solid #558b2f;
    -webkit-transition: all 125ms ease-in-out;
    transition: all 125ms ease-in-out
}

.headerMenu nav .navLinks-wrap .navLinks .onlyLinks {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}


/* Homepage Overrides */

.loopPost-title a {
  font-size: 40px;
}

.post-date {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #fff;
}

.heading {
  background: #222222;
  background-size: cover;
}

.headingTitle {
  color: #EEEEEE;
}

.headingTitle span {
  
}

.latestPost {
  background: #444444;
  border: 1px solid #888!important;
  border-radius: 3px;
}

.readMore {
    border-radius: 3px;
    height: auto;
    transition: all .2s ease-in-out 0s;
    padding: 15px 21px;
    line-height: initial;
    background: 0 0;
    color: #558b2f;
    border: 1px solid #EEE;
    font-weight: 500;
    font-size: .925rem;
    margin: 21.03px 0 0
}

.readMore:hover {
  background: #558b2f;
  color: #fff;
}

/* Post content and page overrides */
.post-content a {
    border-bottom: 1px solid #e0e0e0;
}

.post-content a:hover {
    border-bottom: 1px solid #558b2f;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.post-content code {
  background-color: #222;
  border: #E3EDF3 1px solid;
  border-radius: 3px;
  padding: 0 5px;
  font-family: Inconsolata, monospace, sans-serif;
}

.post-content pre {
  font-family: Inconsolata, monospace, sans-serif;
  background-color: #222;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  border: #E3EDF3 1px solid;
  border-radius: 3px;
  padding: 0 5px;
  margin: 0 0 1.75em 0;
  padding: 15px 10px;
  font-size: 0.8em;
  line-height: 1;
  white-space: pre;
  overflow-x: scroll;
}

.post-content pre code {
  border: 0;
  padding: 0px;
}



.post-content .twentytwenty-wrapper {
    margin-top: 42px !important;
} 

.post-content .twentytwenty-wrapper img {
    margin-top: 0 !important;
}

h1.postTitle {
  text-align: left;
  font-family: 'anonymous_proregular';
  font-size: 63px;
  font-weight: normal;
  color: #fff;
  margin: 0 0 0.45em 0;
}

@media screen and (max-width: 1200px) {
  h1.postTitle {
    font-size: 45px;
  }
}

.postInfo {
  text-align: left;
}

@keyframes logoAnimation {
  0% {
    content: ">_";
  }
  25% {
    content: ">";
  }
  33.3333% {
    content: "$_";
  }
  58.3333% {
    content: "$";
  }
  66.6666% {
    content: "#_";
  }
  91.6666% {
    content: "#";
  }
}


.navigation-menu a {
    font-family: 'anonymous_proregular';
}

a.logo {
  background: #111;
  width: 70px;
  padding: 8px 10px;
  border-radius: 10px;
  border: #999 2px solid;
  margin-bottom: 10px;
  transition: border-color 100ms linear;
  text-align: left;
  line-height: 1.5em
}

a.logo::after {
  font-family: 'VT323', monospace;
  animation: logoAnimation 10s linear infinite;
  text-decoration: none;
  content: ">_";
  font-size: 45px;
  cursor: pointer;
  color: #fff;
  transition: color 100ms linear;
}

a.logo:hover::after {
  color: #558b2f;
}
a.logo:hover {
  border-color: #558b2f;
}

.main-nav a.logo {
  width: 35px;
  height: 32px;
  padding: 3px 9px;
}

.main-nav a.logo::after {
  font-size: 31px;
}


.blink-cursor {
  animation: blink-animation 2s steps(2, start) infinite;
  -webkit-animation: blink-animation 2s steps(2, start) infinite;
  background: #e0e0e0;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.lastfooter {
  background: #444;
}

.lastfooterSubcontainer>* {
    color: #AAA;
}


/************************
     NAVIGATION MENU
*************************/

header.pageHeader .vline {
  border-left-color: #e0e0e0;
}

.postTags a {
  color: #fff;
  background: #999999;
  font-family: 'Roboto Condensed', serif;
}

.postTags a:hover {
    background: #AED581;
    color: #558b2f;
}
