/* ==========================================================================
   CSS specific to the design of the Code version of the site.
   ========================================================================== */



/****
PAGE STUFF
****/

.about .hi {
  font-family: 'anonymous_proregular';
  font-size: 40px;
}

/*
/****************************************
 Post header
****************************************/
body {
  font-family: 'Roboto Slab', serif;
  color: #e0e0e0;
}

a {
  font-family: 'anonymous_proregular';
  color: #e0e0e0;
}
a:hover {
  color: #558b2f;
}

*::selection {
  background: #DCEDC8; /* WebKit/Blink Browsers */
}
*::-moz-selection {
  background: #DCEDC8; /* Gecko Browsers */
}

.site-wrapper {
  background: #333333;
}



figcaption {
  font-family: 'Roboto Condensed', serif;
  font-style: italic;
  font-size: 16px;
}

@media screen and (min-width: 1400px) {
  span.overflow.right-caption figcaption {
    width: 192px;
    right: -254px;
    padding-top: 55px;
  }
  span.overflow.left-caption figcaption {
    width: 192px;
    left: -254px;
    padding-top: 55px;
  }
}

header.post-header h1.post-title {
  font-family: 'anonymous_proregular';
  font-size: 63px;
  font-weight: normal;
  color: #fff;
  margin: 0 0 21px 0;
}

header.post-header .vline {
  border-left-color: #fff;
}

.post-date {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #fff;
}

.post-tags a {
  background: #999999;
  color: #fff;
  font-family: 'Roboto Condensed', serif;
  font-size:
}

.post-tags a:hover {
  background: #AED581;
  color: #558b2f;

}

.post h1, .post h2, .post h3, .post h4, .post h5, .post h6 {
  font-family: 'Roboto Condensed', serif;
  color: #fff;
  margin-bottom: 20px;
  margin-top: 0;
}
.post h1 {
  font-size: 50px;
}
.post h2 {
  font-size: 40px;
}
.post h3 {
  font-size: 30px;
}
.post p {
  font-family: 'Roboto Slab', serif;
  font-size: 22px;
  line-height: 1.5em;
}

@media screen and (max-width: 500px) {
  .post-date {
    font-size: 14px;
  }
  header.post-header h1.post-title {
    font-size: 32px;
  }
  .post-tags a {
    font-size: 12px;
  }
  .post h1 {
    font-size: 28px;
  }
  .post h2 {
    font-size: 24px;
  }
  .post h3 {
    font-size: 20px;
  }
  .post p {
    font-size: 16px;
    line-height: 1.5em;
  }
}



/****************************************
 Special side floating things
*****************************************/

.author-container .vline {
  border-left-color: #fff;
}

.author-container .name-container {
  font-family: 'Roboto Condensed', sans-serif;
}

.author-container .time {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-style: italic;
}

.blink-cursor {
  animation: blink-animation 2s steps(2, start) infinite;
  -webkit-animation: blink-animation 2s steps(2, start) infinite;
  margin-left: 10px;
  background: #e0e0e0;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
