/* General Theme */

body, .blogWrapper, .progressbarWrapper, .topbar {
  background: #333333;
}

/* Basic colouring */
body, p, .postExcerpt p, a, a.readMore {
  font-family: 'Roboto Slab', serif;
  color: #e0e0e0;
}

 {
  font-size: 22px;
}

blockquote {
  color: #AAA;
}
blockquote:before {
  width: 4px;
  background: #AAA;
}

.postContent h1 {
  font-size: 50px;
}
.postContent h2 {
  font-size: 40px;
}
.postContent h3 {
  font-size: 30px;
}
body, .postExcerpt p, .postContent p, .postContent li {
  font-family: 'Roboto Slab', serif;
  font-size: 22px;
  line-height: 1.5em;
}

a {
  color: #e0e0e0;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

a:hover {
  color: #558b2f;
}

h1, h2, h3, h4, h5, h6,
.postContent h1, .postContent h2, .postContent h3, .postContent h4, .postContent h5, .postContent h6 {
  font-family: 'Roboto Condensed', serif;
  color: #fff;
  margin-bottom: 20px;
}

*::selection {
  background: #DCEDC8; /* WebKit/Blink Browsers */
}
*::-moz-selection {
  background: #DCEDC8; /* Gecko Browsers */
}

.heading, .homeNav, .topbar {
    border-bottom: 1px solid #888;
}

.progressbar {
    width: 0;
    height: 4px;
    background: #558b2f;
    max-width: 1440px
}


@media screen and (max-width: 600px) {
  .postContent h1 {
    font-size: 28px;
  }
  .postContent h2 {
    font-size: 24px;
  }
  .postContent h3 {
    font-size: 20px;
  }
  body .postExcerpt p, .postContent p, .postContent li, .postContent pre {
    font-size: 16px;
    line-height: 1.4em;
  }
}

/* Homepage Navbar Overrides */

.navLinks-wrap .navLink a {
    border-bottom: 0 solid #558b2f;
    font-size: 22px;
    margin-right: 20px;
}

.navLinks-wrap .navLink a:hover {
    border-bottom: 5px solid #558b2f;
    -webkit-transition: all 125ms ease-in-out;
    transition: all 125ms ease-in-out
}

.headerMenu nav .navLinks-wrap .navLinks .onlyLinks {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}


/* Homepage Overrides */

.loopPost-title a {
  font-size: 40px;
}

.post-date {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #fff;
}

.heading {
  background: #222222;
}

.headingTitle {
  color: #EEEEEE;
}

.headingTitle span {
  
}

.latestPost {
  background: #444444;
  border: 1px solid #888!important;
  border-radius: 3px;
}

.readMore {
    border-radius: 3px;
    height: auto;
    transition: all .2s ease-in-out 0s;
    padding: 15px 21px;
    line-height: initial;
    background: 0 0;
    color: #558b2f;
    border: 1px solid #EEE;
    font-weight: 500;
    font-size: .925rem;
    margin: 21.03px 0 0
}

.readMore:hover {
  background: #558b2f;
  color: #fff;
}

/* Post content and page overrides */
.postContent a {
    border-bottom: 1px solid #e0e0e0;
}

.postContent a:hover {
    border-bottom: 1px solid #558b2f;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.postContent code {
  background-color: #222;
  border: #E3EDF3 1px solid;
  border-radius: 3px;
  padding: 0 5px;
  font-family: Inconsolata, monospace, sans-serif;
}

.postContent pre {
  font-family: Inconsolata, monospace, sans-serif;
  background-color: #222;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  border: #E3EDF3 1px solid;
  border-radius: 3px;
  padding: 0 5px;
  margin: 0 0 1.75em 0;
  padding: 15px 10px;
  font-size: 0.8em;
  line-height: 1;
  white-space: pre;
  overflow-x: scroll;
}

.postContent pre code {
  border: 0;
  padding: 0px;
}



.postContent .twentytwenty-wrapper {
    margin-top: 42px !important;
} 

.postContent .twentytwenty-wrapper img {
    margin-top: 0 !important;
}

h1.postTitle {
  text-align: left;
  font-family: 'anonymous_proregular';
  font-size: 63px;
  font-weight: normal;
  color: #fff;
  margin: 0 0 0.45em 0;
}

@media screen and (max-width: 1200px) {
  h1.postTitle {
    font-size: 45px;
  }
}

.postInfo {
  text-align: left;
}

@keyframes logoAnimation {
  0% {
    content: ">_";
  }
  25% {
    content: ">";
  }
  33.3333% {
    content: "$_";
  }
  58.3333% {
    content: "$";
  }
  66.6666% {
    content: "#_";
  }
  91.6666% {
    content: "#";
  }
}


.navigation-menu a {
    font-family: 'anonymous_proregular';
}

a.logo {
  background: #111;
  width: 70px;
  padding: 8px 10px;
  border-radius: 10px;
  border: #999 2px solid;
  margin-bottom: 10px;
  transition: border-color 100ms linear;
  text-align: left;
  line-height: 1.5em
}

a.logo::after {
  font-family: 'VT323', monospace;
  animation: logoAnimation 10s linear infinite;
  text-decoration: none;
  content: ">_";
  font-size: 45px;
  cursor: pointer;
  color: #fff;
  transition: color 100ms linear;
}

a.logo:hover::after {
  color: #558b2f;
}
a.logo:hover {
  border-color: #558b2f;
}

.main-nav a.logo {
  width: 35px;
  height: 32px;
  padding: 3px 9px;
}

.main-nav a.logo::after {
  font-size: 31px;
}


.blink-cursor {
  animation: blink-animation 2s steps(2, start) infinite;
  -webkit-animation: blink-animation 2s steps(2, start) infinite;
  background: #e0e0e0;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.lastfooter {
  background: #444;
}

.lastfooterSubcontainer>* {
    color: #AAA;
}


/* Shared theme stuff */
nav.navigation-menu a {
    display: block;
    text-decoration: none;
}

.navigation-menu hr {
  display:none;
}


.mainContent {
  position:relative;
  min-height: 75vh
}

header.pageHeader {
  position: relative;
}

header.pageHeader h1.post-title {
  width:100%;
}
header.pageHeader .vline {
  position:absolute;
  height:200px;
  top:3px;
  bottom:-1px;
  left: -42px;
  border-left: 1px solid;
  border-left-color: #e0e0e0;
}

nav.navigation-menu {
  position: absolute;
  width: 180px;
  left: -180px;
  top: 0;
  padding: 10px;
}
nav.navigation-menu a {
  text-transform: uppercase;
  display: block;
  text-decoration: none;
}

@media only screen and (max-width:1200px) {
  nav.navigation-menu {
    position: relative;
    width: 100%;
    left: inherit;
    top: inherit;
    padding: 30px 0 0;
  }
  
  nav.navigation-menu a {
      display: inline-block;
      text-decoration: none;
      margin-right: 20px;
  }
  .navigation-menu hr {
    display:block;
  }

  header.pageHeader .vline {
    display: none;
  }
  
  a.logo {
    width: 50px;
    line-height: 0.5em
  }

  a.logo::after {
    font-size: 28px;
  }
}

.bottomContainer {
  display: flex;
  display: -webkit-flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.postTags a {
  color: #fff;
  padding: 5px 10px;
  margin: 0 6px 0 0;
  text-transform: uppercase;
  font-size: 15px;
  border-radius: 5px;
  background: #999999;
  font-family: 'Roboto Condensed', serif;
  -webkit-transition: background 120ms;
  transition: background 120ms;
}

.postTags a:hover {
    background: #AED581;
    color: #558b2f;
}


.postShare-wrap {
  margin-bottom: 15px;
}

/****************************************
 Special side floating things
*****************************************/

.authorContainer {
  margin-top: 0.5em;
  width: 100%;
}
.authorContainer img {
  height: 70px;
  margin-bottom: 0.6em;
  display: none;
  position: relative;
  left: auto;
  right: 0;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  width: auto;
  border-radius: 100%;
}

.authorContainer .nameContainer {
  display: inline-block;
  font-style: italic;
  font-size: 0.8em;
  
}
.authorContainer .nameContainer .name {
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
}

.authorContainer .time {
  display: inline-block;
  text-align: right;
  font-size: 18px;
}

.authorContainer hr {
  margin: 0.5em 0;
}


@media screen and (min-width: 1200px) {

  .authorContainer {
    margin-bottom: 1em;
    position:absolute;
    width: 220px;
    left: -220px;
    padding-right: 70px;
    box-sizing: border-box;
    text-align: right;
    text-align: -webkit-right;
  }
  
  .authorContainer img {
    display: block;
  }
  
  .authorContainer .nameContainer {
    display: block;
    text-align: right;
    line-height: 0.6;
  }

  .authorContainer .time {
    display: block;
    text-align: right;
    font-size: 18px;
  }

  .authorContainer .vline {
    position:absolute;
    top: 0;
    right: 40px;
    bottom: 0;
    border-left: 1px solid;
    border-left-color: #FFF;
  }

  .authorContainer hr {
    display: none;
  }
}

